<h1>Projet HP : Cloud avancé</h1>


<!--
<micro-service-I class="microService">Loading micro-service Identification...</micro-service-I>
<micro-service-B class="microService">Loading micro-service Button...</micro-service-B>
<micro-service-P class="microService">Loading micro-service Picture...</micro-service-P>
-->

<label>ID</label><input [(ngModel)]='id'>

<h3>Micro Service I(dentification)</h3>

<div *ngIf='id!=-1'>
    <div [hidden]="!errorI" class="errorMsg">
        {{errorMsg}}
    </div>
    <div [hidden]="errorI">
        <div>Identifiant : {{id}}</div>
        <div>Email : {{name}}</div>
    </div>
</div>
<div *ngIf='id==-1'>
    <label>Email</label>
    <input [(ngModel)]='name'>
    <label>Mot de passe</label>
    <input type='password' [(ngModel)]='password'>
    <button (click)='identification()'>S'identifier</button>
</div>



<h3>Micro Service B(utton)</h3>
<button (click)="play()" [disabled]="hasPlayed||id==-1">Jouer</button>
<div [hidden]="!hasPlayed">Vous avez déjà joué</div>
<div [hidden]="id!=-1">Connectez vous pour jouer</div>

<h3>Micro Service P(icture)</h3>

<div [hidden]='id!=-1'>Connectez vous pour voir votre cadeau</div>
<div [hidden]='hasPlayed||(id==-1)'>Vous n'avez pas encore jouez</div>
<div [hidden]='!hasPlayed||hasWon||(id==-1)'>Vous n'avez rien gagné</div>
<img [hidden]='!hasPlayed||!hasWon||(id==-1)' src='data:image/gif;base64,{{gift}}'/>
